{% macro datos(name, placeholder, type="text") %}
<p><input name="{{name}}" placeholder="{{placeholder}}" type="{{type}}"></p>
{% endmacro %}

{% macro input_Form(field) %}
<td>{{ field.label }}</td>

<dd>{{ field(**kwargs)|safe }}</dd>

{% if field.errors %}
<ul>
    {% for error in field.errors %}
    <li style="color: red;">
        {{ error }}
    </li>
    {% endfor %}
</ul>
{% endif %}
{% endmacro %}

{% macro radio(field) %}
<div class="form-group mt-3">
    {{ field.label }}

    <div class="row mt-2">
        {% for value, label in field.choices %}
        <div class="col-6">
            <div class="form-check d-flex align-items-center justify-content-center">
                <input class="form-check-input mx-1" type="radio" name="{{ field.name }}" id="{{ field.name ~ '_' ~ value }}"
                    value="{{ value }}" {% if value==field.data %}checked{% endif %}>
                <label class="form-check-label" for="{{ field.name ~ '_' ~ value }}">
                    {{ label }}
                </label>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endmacro %}