{% extends "layout2.html" %}

{% block content %}
{% import "_macros.html" as macros %}
<h1>Alumnos</h1>

<form action="/alumnos" method="POST">
  {{ macros.input_Form(form.nombre, class="form-control") }}
  {{ macros.input_Form(form.primerApellido, class="form-control") }}
  {{ macros.input_Form(form.segundoApellido, class="form-control") }}
  {{ macros.input_Form(form.edad, class="form-control") }}
  {{ macros.input_Form(form.correo, class="form-control") }}

  <button type="submit" class="btn btn-success">Mandar datos</button>
</form>
{% endblock %}